.cotizacion-form {
  max-width: 1000px; 
  width: 100%; 
  margin: 0 auto;
  margin-top: 80px;
  padding: 20px;
  border: 1px solid #177569;
  border-radius: 8px;
  background-color: #dafcf2;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.cotizacion-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  margin-top: 10px;
}

.cotizacion-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
}

.cotizacion-form label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #062a1e;
  width: 100%; 
}

.cotizacion-form input,
.cotizacion-form select,
.cotizacion-form textarea {
  margin-bottom: 15px;
  padding: 12px;
  font-size: 16px;
  border: 2px solid #177569;
  border-radius: 8px;
  width: 100%; 
  box-sizing: border-box;
  color: #ffffff;
  font-style: italic;
}

.cotizacion-form input::placeholder,
.cotizacion-form textarea::placeholder {
  color: #ffffff;
  font-style: italic;
}

.cotizacion-form textarea {
  resize: vertical;
  min-height: 100px;
}

.cotizacion-form button {
  padding: 10px;
  font-size: 16px;
  background-color: #6cddb8;
  color: rgb(0, 0, 0);
  border: 2px solid #052641;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%; 
}

.cotizacion-form button:hover {
  background-color: #6dcece;
  border-color: #062a1e;
}


