.reservas-asignadas{
    margin-top: 100px;
    height: 470px;
}
.reservas-asignadas h2{
    font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  color: #052641;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgb(134, 230, 214);
}