body {
    background: url('./img/fondo.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
}

/* Estilos para la sección de bienvenida */
.bienvenida {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 100vh;
  margin-top: 100px;
  
}

.contenido-bienvenida {
  position: relative;
  z-index: 2;
  text-align: center;
  justify-content: center;
  color: #fff;
  padding: 20px;
}

.imagen-bienvenida {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.texto-bienvenida {
  background: rgba(0, 0, 0, 0.163); /* Fondo semitransparente para destacar el texto */
  padding-top: 40px;
  width: 1700px;
  
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.texto-bienvenida h1
 {
  margin: 10px 0;
  color: #0f2b3dfd;
  font-size: 90px;
  text-shadow: 4px 2px 5px rgba(171, 243, 220, 0.5);
}
.texto-bienvenida p{
  margin: 10px 0;
  color: #0f2b3dfd;
  font-size: 20px;
}

 
.seccion-titulo, .franja-servicio {
    background-color: #e0f7fa;
    width: 100vw; 
    border: 2px solid #72d8db;
    margin-left: calc(-50vw + 50%); 
    padding: 50px 0;
    box-sizing: border-box;
    overflow: hidden; 
}


.seccion-titulo h1 {
    color: #094636fd;
    text-shadow: 4px 2px 5px rgba(0, 0, 0, 0.5);
}

.seccion-titulo p {
    color: #ddd;
    font-size: 18px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.container-servicio {
    max-width: 1200px; 
    margin: 0 auto; 
}

.titulo-servicio {
    font-size: 32px;
    font-weight: bold;
    color: #060b58;
    margin-bottom: 30px;
}

.pasos-servicio {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap; 
    width: 100%;
}

.paso {
    flex: 1 1 200px; 
    padding: 20px;
    max-width: 300px; 
    box-sizing: border-box;
}

.paso h3 {
    font-size: 24px;
    color: #0e46be;
    margin-bottom: 10px;
}

.paso p {
    font-size: 16px;
    color: #022a5e;
}

.imagen-paso {
    width: 100%;
    height: 180px;
    max-width: 200px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.titulo-recomendaciones,
.titulo-servicios,
.titulo-bienvenida,
.descripcion-servicio {
    text-align: center;
    font-weight: bold;
    margin: 20px 0;
}

.titulo-recomendaciones {
    font-size: 2em;
    color: #052641;
    text-transform: uppercase;
    text-shadow: 4px 2px 5px rgba(255, 255, 255, 0.5);
}

.titulo-servicios {
    font-size: 2em;
    color: #052641;
    text-transform: uppercase;
    text-shadow: 4px 2px 5px rgba(246, 247, 250, 0.5);
}

.titulo-bienvenida {
    font-size: 5em;
    color: #052641;
    text-shadow: 4px 2px 5px rgb(127, 210, 243);
}

.descripcion-servicio {
    font-size: 1.2em;
    color: #000000;
}
.offcanvas.offcanvas-end {
  top: 75px;
  right: 0;
  width: var(--bs-offcanvas-width);
  border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
  transform: translateX(100%);
}


@media (max-width: 768px) {
  
  
  
    .contenido-bienvenida {
        padding: 20px;  /* Reducir el padding */
      }
    
      .titulo-bienvenida {
        font-size: 2em;  /* Reducir el tamaño del título */
      }
    
      .titulo-descripcion {
        font-size: 1.5em;  /* Reducir el tamaño de la descripción */
      }
    
      .descripcion-servicio {
        font-size: 1.1em;  /* Reducir el tamaño del párrafo */
      }
    
      .imagen-container {
        margin-top: 15px;
        height: 250px;  /* Limitar la altura de la imagen en pantallas más pequeñas */
      }
    
      .imagen-bienvenida {
        height: 100%;  /* Mantener la imagen responsiva */
      }
      .bienvenida{
        height: auto;
        padding: 40px 20px;
      }
  
      
      
    .seccion-titulo, .franja-servicio {
        padding: 40px 20px; 
        margin: 0 auto; 
        width: calc(100% - 20px); 
    }

    .seccion-titulo h1 {
        font-size: 28px;
    }

    .seccion-titulo p,
    .paso p {
        font-size: 14px;
    }

    .titulo-bienvenida {
        font-size: 3em;
    }

    .pasos-servicio {
        flex-direction: column;
        align-items: center;
    }

    .paso {
        max-width: 90%; 
        margin-bottom: 30px;
    }
  }
  

  
  @media (max-width: 480px) {
    /* En pantallas muy pequeñas (móviles) */
    .titulo-bienvenida {
      font-size: 1.6em;  /* Reducir aún más el tamaño del título */
    }
  
    .titulo-descripcion {
      font-size: 1.2em;  /* Reducir aún más la descripción */
    }
  
    .descripcion-servicio {
      font-size: 1em;  /* Reducir el tamaño del párrafo */
    }
  
    .imagen-container {
      height: 200px;  /* Reducir la altura de la imagen en pantallas más pequeñas */
    }
  
    .imagen-bienvenida {
      height: 100%;  /* Ajustar la imagen para que ocupe todo el alto del contenedor */
    }
  }