body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f9f9; 
}

.dashboard-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    min-height: 100vh; 
    width: 100%; 
    margin-top: 20px;
    transition: all 0.3s ease-in-out; /* Suaviza cambios en el contenedor */
}

header {
    color: #00796b; 
    padding: 20px;
    text-align: center;
    background-color: transparent; 
    width: 100%; 
}
.panel-adm{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -60px;
    color: #052641;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgb(134, 230, 214);
}

.card-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px;
    max-width: 1200px; /* Limita el ancho total del contenedor */
    width: 100%; 
    transition: gap 0.3s ease; /* Suaviza cambios en el espaciado */
}

.card {
    background-color: #e0f7fa; 
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.579);
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease, flex 0.3s ease;
    flex: 1 1 calc(50% - 20px); /* Ocupa la mitad del ancho disponible menos el gap */
    max-width: 600px; /* Máximo ancho de una tarjeta */
    height: auto;  
    padding: 20px; 
    text-align: center; 
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.card h2 {
    color: #00796b; 
    font-size: 1.5rem;
    margin-bottom: 10px;
    transition: font-size 0.3s ease; /* Transición en el tamaño de fuente */
}

.card p {
    color: #555; 
    font-size: 1rem;
}

button {
    background-color: #00796b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, padding 0.3s ease; /* Suaviza el hover y cambios de tamaño */
}

button:hover {
    background-color: #004d40; 
}

/* Tablets y dispositivos medianos */
@media (max-width: 992px) {
    .dashboard-container {
        margin-top: 80px;
    }

    header h1 {
        font-size: 2rem; 
    }

    .card {
        flex: 1 1 calc(100% - 20px); /* Tarjetas ocupan toda la fila en dispositivos medianos */
    }

    .card h2 {
        font-size: 1.2rem;
    }

    .card-container {
        gap: 10px; 
    }
}

/* Teléfonos y dispositivos pequeños */
@media (max-width: 480px) {
    header h1 {
        font-size: 1.5rem;
    }

    .card {
        margin-bottom: 15px;
        padding: 15px; 
    }

    button {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}
