/* Estilos del Navbar */
.navbar {
  background-color: #b2e0e6; 
  border-bottom: 2px solid #74c3d4; 
  margin: 0; 
  width: 100%;
  position: fixed;
}

.navbar-brand {
  margin: -18px 10px -18px 70px;
}

.navbar-brand img {
  width: 80px;
  height: 80px;
}

.nav-link {
  color: #005f68; 
  transition: background-color 0.3s, color 0.3s; 
  margin: 0 15px; 
  padding: 8px 15px; 
  border-radius: 5px; 
  font-weight: 500; 
  display:inline-flex;
  text-align: center; 
  
  
  
}
.navbar-nav .nav-item .nav-link {
  text-align: center; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 10px 15px; 
 
}

.nav-link.active {
  background-color: #74c3d4; 
  color: #fff; 
}

.nav-link:hover {
  background-color: #74c3d4; 
  color: #fff; 
}

.nav-link img.carrito {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  filter: invert(100%) sepia(100%) saturate(500%) hue-rotate(180deg) brightness(70%);
  mix-blend-mode: multiply;
}

@media (max-width: 992px){
  .navbar .offcanvas-body {
    flex-direction: column; 
    align-items: center;
  
  }

  .nav-item .nav-link {
    width: 100%; 
    margin-top: 10px; 
    text-align: center; 
  }
}
@media (max-width: 768px) {
  .navbar .offcanvas-body {
    
    flex-direction: column; 
    align-items: center; 
  
  }

  .nav-item .nav-link {
    width: 100%; 
    margin-top: 10px; 
    text-align: center; 
  }

  .navbar-toggler {
    background-color: transparent;
    border: none;
  }

  .navbar-toggler-icon {
    display: flex;
    justify-content: center; 
    align-items: center;
  }

  .navbar .offcanvas-body .nav-item {
    text-align: center; 
  }
}
