.card-container {
  perspective: 1000px;
  width: 400px;
  height: 450px;
  margin: 0 auto 100px auto; /* Centra y añade margen inferior */
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.card-flip {
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  position: relative;
}

.card-front,
.card-back {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start; /* Alinea el contenido al inicio */
  align-items: center;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #ffffff;
}

.card-front {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-front img {
  width: 100%;         /* Ocupa el 100% del contenedor */
  max-width: 360px;    /* Ancho máximo de la imagen */
  height: 250px;       /* Altura fija */
  object-fit: cover;   /* Ajusta bien la imagen */
  border-radius: 10px; /* Bordes redondeados */
  margin-bottom: 15px; /* Espacio debajo de la imagen */
}

.card-front h4 {
  margin-top: 0;      /* Elimina cualquier margen superior */
  font-size: 22px;
  max-width: 340px;   /* Ancho máximo del título */
  padding: 0 10px;    /* Padding para separar del borde */
}

.card-back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Alinea el contenido al inicio */
  padding-top: 40px; 
}

.card-back div {
  max-width: 340px;   /* Ancho máximo del contenido de texto */
  margin-bottom: 1em; /* Espacio entre secciones de texto */
  padding: 0 10px;    /* Padding para separar del borde */
  text-align: left;   /* Alinea el texto a la izquierda */
}

.card-back h5 {
  margin: 0;
  text-align: center; /* Centra los títulos de las secciones */
  margin: 0 0 8px 0; 
}

.card-back p {
  margin-top: 5px;             /* Espacio adicional entre los párrafos */
  font-size: smaller;
}

.card-flip:hover {
  transform: rotateY(180deg); /* Efecto de giro */
}

/* Responsive adjustments */
@media (min-width: 768px) {
  .card-container {
    margin-bottom: 50px; /* Reduce el espacio en pantallas más grandes */
  }
}
